.btn {
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  border-style: none;
  border-radius: var(--border-radius);
  padding: 0.6em 0.6em;
  cursor: pointer;
  transition: all 0.2s;
}

/* =============== btn-primary ===============  */
.btn-primary {
  color: var(--light-gray-0);
  background-color: var(--light-blue-200);
}

.btn-primary:hover {
  background-color: var(--light-blue-100);
}

.btn-primary:active {
  background-color: var(--light-blue-300);
}
/* =============== btn-primary ===============  */

/* =============== btn-secondary ===============  */
.btn-secondary {
  color: var(--light-blue-200);
  background-color: var(--light-blue-50);
}

.btn-secondary:hover {
  color: var(--light-gray-0);
  background-color: var(--light-blue-100);
}

.btn-secondary:active {
  color: var(--light-gray-0);
  background-color: var(--light-blue-200);
}
/* =============== btn-secondary ===============  */
