.inp {
  padding: 0.6em 0.6em;
  border: 1px solid var(--light-gray-50);
  border-radius: var(--border-radius);
  outline: none;
}

.inp::placeholder,
.inp:-moz-placeholder,
.inp::-moz-placeholder {
  color: var(--dark-blue-200);
}

.inp:hover {}

.inp:focus {
  box-shadow: 0 0 5px var(--light-blue-200);
  border: 1px solid var(--light-blue-200);
}

.inp-error-text {
  color: red;
  margin-top: 0.4em;
  margin-left: 0.6em;
}
