.burger-button {
  padding-top: 0;
  padding-bottom: 0;
  border: 0;

  background-color: transparent;
  cursor: pointer;
}

.hamburger {
  /* display: inline-block; */
  margin: 0;
  border: 0;
  overflow: visible;

  color: inherit;
  font: inherit;
  text-transform: none;

  background-color: transparent;
  cursor: pointer;

  transition-timing-function: linear;
  transition-duration: 0.15s;
  transition-property: opacity, filter;
}

.hamburger-box {
  position: relative;

  display: inline-block;
  width: 34px;
  height: 26px;
}

.hamburger-inner {
  top: 50%;

  display: block;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  position: absolute;

  width: 34px;
  height: 3px;
  border-radius: 10px;

  background-color: var(--button-color);

  transition-timing-function: ease;
  transition-duration: 0.15s;
  transition-property: transform;
}

.hamburger-inner::before, .hamburger-inner::after {
  display: block;

  content: '';
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--squeeze .hamburger-inner {
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: 0.075s;
}

.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);

  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;

  opacity: 0;

  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;

  transform: rotate(-90deg);

  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}
